@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    background-image: url("assets/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-neon {
    --color: rgb(255, 87, 151);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
    border: solid .17em var(--color);
    box-shadow:
    inset 0 0 .5em var(--color),
    0 0 .7em var(--color);
}

.neon-text {
    --text-color: rgb(117, 234, 255);
    color: var(--text-color);
    text-shadow: var(--text-color) 0 0 20px,var(--text-color) 0 0 15px;
}

.box-neon.btc .btc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 1.4em;
    white-space: nowrap;
    margin: .5em 0;
}

.box-neon.btc .btc span:first-child {
    font-size: 2em;
    --text-color: rgb(250, 169, 246);
    color: var(--text-color);
    text-shadow: var(--text-color) 0 0 20px,var(--text-color) 0 0 15px;
}

.box-neon.flat {
    --color: rgb(250, 169, 246);
    flex-direction: row;
}

.box-neon.flat span:first-child {
    --text-color: rgb(250, 169, 246);
    color: var(--text-color);
    text-shadow: var(--text-color) 0 0 20px,var(--text-color) 0 0 15px;
}

.box-neon.flat span:last-child {
    opacity: .75;
}

.box-neon.btn {
    --color: rgb(117, 234, 255);
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
}

.bottom-texts {
    backdrop-filter: blur(10px);
    border-radius: 1em;
    border: #FFFFFF11 1px solid;
    border-top: #FFFFFF33 1px solid;
    background-color: #FFFFFF09;
    width: 50%;
    min-width: 300px;
    margin-top: .5em;
    font-size: 1em;
    text-align: center;
    color: #FFFFFFDD;
    text-shadow: rgba(0,0,0,1) 0px 0px 15px;
    box-shadow: rgba(0,0,0,.33) 0px 0px 15px;
}