@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
    font-family: 'Varela Round', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 0 100px;
}

.background {
    position: fixed;
    background-color: #111;
    top: 0;
    left: -100vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.background::before {
    content: "";
    position: absolute;
    width: 300vw;
    height: 300vh;
    background: url("./assets/L.svg") 0 0 space;
    background-size: 60px;
    transform: rotate(45deg);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 99;
    box-sizing: border-box;
    height: 8vh;
    padding: 15px 50px;
    background: #111;
    color: #fff;
    --color: rgb(220, 69, 220);
    border-bottom: solid .17em var(--color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px #00000099;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    background: rgb(117, 234, 255);
    padding: 5px 15px;
    border-radius: 1em;
    margin: 0 .5em;
    transition: all 500ms ease-in-out;
}

.link.red {
    background: rgb(255, 87, 151);
}

.link.purple {
    background: rgb(250, 169, 246);
}

.link:hover {
    background-color: white;
}

.mt {
    margin-top: 9vh !important;
}

.box-neon {
    --color: rgb(255, 87, 151);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;
    padding: .7em;
    margin: 1em;
    border-radius: 20px;
    border: solid .17em var(--color);
    box-shadow:
    inset 0 0 .5em var(--color),
    0 0 .7em var(--color);
}

.box-neon.btc {
    background-color: #00000066;
}

.box-neon.btc img {
    width: 100px;
}

.box-neon.btc picture {
    position: relative;
}

.box-neon.btc picture::after {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    content: "x1";
    position: absolute;
    bottom: 20%;
    right: 0;
}

.box-neon.btc .txt {
    font-size: 1.4em;
}

.neon-text {
    --text-color: rgb(117, 234, 255);
    color: var(--text-color);
    text-shadow: var(--text-color) 0 0 20px,var(--text-color) 0 0 15px;
}

.box-neon.btc .cryptobox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 1.4em;
    white-space: nowrap;
    margin: .3em;
}

.box-neon.btc .cryptobox span {
    font-size: .8em;
    --text-color: rgb(250, 169, 246);
    color: var(--text-color);
    text-shadow: var(--text-color) 0 0 20px,var(--text-color) 0 0 15px;
}

.box-neon.flat {
    --color: rgb(250, 169, 246);
}

.box-neon.flat .row {
    margin-bottom: .3em;
}

.box-neon.flat .row span:first-child {
    --text-color: rgb(250, 169, 246);
    color: var(--text-color);
    text-shadow: var(--text-color) 0 0 20px,var(--text-color) 0 0 15px;
}

.box-neon.flat .row span:last-child {
    opacity: .75;
}

.box-neon.btn {
    --color: rgb(117, 255, 163);
    --text-color: rgb(117, 255, 163);
    cursor: pointer;
    text-transform: uppercase;
    background-color: #00000099;
    min-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bottom-texts {
    backdrop-filter: blur(5px);
    border-radius: 1em;
    border: #FFFFFF11 1px solid;
    border-top: #FFFFFF33 1px solid;
    background-color: #FFFFFF09;
    max-width: 500px;
    padding: .5em;
    margin: 1em;
    font-size: 1em;
    text-align: center;
    color: #FFFFFFDD;
    text-shadow: rgba(0,0,0,1) 0px 0px 15px;
    box-shadow: rgba(0,0,0,.33) 0px 0px 15px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.buy-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-neon.golden {
    --color: rgb(255, 215, 0);
    --text-color: rgb(255, 215, 0);
}

.box-neon.opal {
    --color: rgb(117, 234, 255);
    --text-color: rgb(250, 169, 246);
}

@media only screen and (max-width: 1200px) {
    .row {
        flex-wrap: wrap;
    }
}