@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: xx-large;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.card {
    --glow-color: #fff;
    --glow-size: 25px;
    --stroke-color: #000;
    display: flex;
    flex-flow: column nowrap;
    border: solid .3em var(--stroke-color);
    border-radius: 50px;
    height: fit-content;
    box-shadow:
    inset 0 0 var(--glow-size) var(--glow-color),
    0 0 var(--glow-size) var(--glow-color);
    padding: 1em;
    width: 500px;
    height: 250px;
}

.card h1, .card p {
    margin: 0;
}

.card h1 {
    text-transform: uppercase;
    text-align: center;
}

.ticket {
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    height: 200px;
    justify-content: space-between;
}

.ticket .left {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket .left .date {
    transform: rotate(180deg);
    writing-mode:vertical-rl;
}

.ticket .center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.ticket .center .title {
    font-weight: 900;
    text-transform: uppercase;
}

.ticket .right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.ticket .right .separator {
    --d: 5; /*amount of dashes*/
    --h: 136px;
    --w: 89px;
    width: calc(var(--w)*1.5 / var(--d));
    height: calc(var(--h)*1.5);
    background-image: url("/assets/dash.png");
    background-repeat: repeat-y;
    background-size: contain;
    margin-left: 1em;
}

.ticket .right .id {
    transform: rotate(180deg);
    writing-mode:vertical-rl;
}